.sidebar {
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
    background: #1E2024;
    color: white;
    padding: 2em;
}
.container {
    display: flex;
}
.section{
    width: 100%;
    padding: 2em;
}
.color-red{
    /* background: red; */
    width: 100%;
}
