
<app-heroe></app-heroe>

<hr>
<hr>

<p>LISTADO COMPONENT</p>

<ul>
    <li *ngFor="let heroe of heroes; let i = index" >
        {{heroe}}
    </li>
</ul>

<button (click)="borrarTodoLosHeroes()" >
    BorrarTodoLosHeroes
</button>

<button (click)="borrarPrimerHeroe()">
    Borrar primer heroe
</button>
<br>

<!-- if():else() se hace con ng-template -->
<span *ngIf="ultimoHeroeBorrado; else noBorrado">
    <!-- el ngIf valida el '' || false || null | undifined -->
    Ultimo heroe borrado: {{ultimoHeroeBorrado}} 
</span>

<!-- <span *ngIf="!ultimoHeroeBorrado">
    No ha borrado nada
</span> -->
<ng-template #noBorrado>
    No ha borrado nada
</ng-template>

